{
  "env": {
    "node": true,
    "es6": true,
    "mocha": true,
    "jest" : true
  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "extends": "standard",
  "rules": {
    "space-before-function-paren": ["warn", "never"]
  }
}
